
<div class="container my-2 text-center">
    <!-- <div class="row row-cols-auto">
        <div class="col d-flex align-items-strech m-2" *ngFor = 'let book of bookList'>
            <div class="card"  style="width: 16rem">
                <img src={{book.cover_image}} class="card-img-top" alt=>
                <div class="card-body">
                    <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{book.author}}</h6>
                  <p class="card-text">{{book.description}}</p>
                </div>
              </div>
        </div>
    </div> -->
    
</div>
