<section id="hero">
  <div class="hero-container">
    <h1>Welcome to Bibiloteca Sistema</h1>
    <h2>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </h2>
<!-- 
    <form class="php-email-form">
      <div class="row no-gutters">
        <div class="col-md-6 form-group pr-md-1">
          <input
            type="text"
            name="name"
            class="form-control"
            id="name"
            placeholder="Your Name"
            required
          />
        </div>
        <div class="col-md-6 form-group pl-md-1">
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Your Email"
            required
          />
        </div>
      </div>

      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">
          Your notification request was sent. Thank you!
        </div>
      </div>
      <div class="text-center">
        <button type="submit">
          <a [routerLink]="['/books']"> Login</a>
        </button>
      </div>
    </form> -->
  </div>
</section>
