<div class="container mx-auto">
  <fieldset>
    <div class="card" *ngIf="book">
      <div class="card-title">
        {{ pageTitle }}
      </div>
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <div class="row">
              <div class="col-3">Title:</div>
              <div class="col-auto">{{ book.title }}</div>
            </div>
            <div class="row">
              <div class="col-3">Author:</div>
              <div class="col-auto">{{ book.author }}</div>
            </div>
            <div class="row">
              <div class="col-3">Description:</div>
              <div class="col-auto">{{ book.description }}</div>
            </div>
            <div class="row">
              <div class="col-3">Publication Year:</div>
              <div class="col-auto">{{ book.publication_year }}</div>
            </div>
            <div class="row">
              <div class="col-3">Genre:</div>
              <div class="col-auto">{{ book.genre }}</div>
            </div>
          </div>
        </div>

        <div class="row mt-4 justify-content-center">
          <div class="col-md-4">
            <button
              class="btn btn-outline-secondary mr-3"
              style="width: 80px"
              [routerLink]="['/books']"
            >
              <i class="bi bi-chevron-left"></i>Back
            </button>
            <button
              class="btn btn-outline-primary"
              style="width: 80px"
              [routerLink]="['edit']"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
